rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ATENÇÃO: Regra insegura. Permite acesso público total.
    // Ideal para desenvolvimento, mas precisa ser alterada com autenticação
    // para um ambiente de produção.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
